.content
    display: flex
    flex-flow: column
    height: 100vh
    min-height: 600px
    padding: 180px 100px
    background-image: url('/assets/images/bg_connect.png')
    background-size: cover
    h3
        color: #ceffe88f
    form
        margin-top: 50px
        max-width: 600px
        display: flex
        gap: 10px
        flex-flow: column
        >div
            display: flex
            flex-flow: column
            label
                padding: 10px 0px
                font-size: 14px
                color: #d0f4ffa2

.logoContainer
    position: fixed
    bottom: 40px
    right: 60px