@import '/src/styles/mixins'

@font-face 
  font-family: 'Mont'
  src: url('/assets/fonts/mont/Mont-Light.otf')
  font-weight: 300
  font-style: normal
@font-face
  font-family: 'Mont'
  src: url('/assets/fonts/mont/Mont-LightItalic.otf')
  font-weight: 300
  font-style: italic
@font-face 
  font-family: 'Mont'
  src: url('/assets/fonts/mont/Mont-Regular.otf')
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'Mont'
  src: url('/assets/fonts/mont/Mont-RegularItalic.otf')
  font-weight: 400
  font-style: italic
@font-face
  font-family: 'Mont'
  src: url('/assets/fonts/mont/Mont-SemiBold.otf')
  font-weight: 600
  font-style: normal
@font-face
  font-family: 'Mont'
  src: url('/assets/fonts/mont/Mont-SemiBoldItalic.otf')
  font-weight: 600
  font-style: italic
@font-face
  font-family: 'Mont'
  src: url('/assets/fonts/mont/Mont-Bold.otf')
  font-weight: 700
  font-style: normal
@font-face
  font-family: 'Mont'
  src: url('/assets/fonts/mont/Mont-BoldItalic.otf')
  font-weight: 700
  font-style: italic

  // src: url('/assets/fonts/mont/Mont-Black.otf')
  // src: url('/assets/fonts/mont/Mont-BlackItalic.otf')
  // src: url('/assets/fonts/mont/Mont-Book.otf')
  // src: url('/assets/fonts/mont/Mont-BookItalic.otf')
  // src: url('/assets/fonts/mont/Mont-ExtraLight.otf')
  // src: url('/assets/fonts/mont/Mont-ExtraLightItalic.otf')
  // src: url('/assets/fonts/mont/Mont-Hairline.otf')
  // src: url('/assets/fonts/mont/Mont-HairlineItalic.otf')
  // src: url('/assets/fonts/mont/Mont-Heavy.otf')
  // src: url('/assets/fonts/mont/Mont-HeavyItalic.otf')
  // src: url('/assets/fonts/mont/Mont-Light.otf')
  // src: url('/assets/fonts/mont/Mont-LightItalic.otf')
  // src: url('/assets/fonts/mont/Mont-Thin.otf')
  // src: url('/assets/fonts/mont/Mont-ThinItalic.otf')
html,
body
  padding: 0
  margin: 0
  color: #e4e4e4
  background-color: #041824  
  font-family: Mont
  font-size: 18px
  @include hideScrollbar

a 
  color: inherit
  text-decoration: none

p
  line-height: 1.4
h1, h2, h3, h4, h5, h6
  margin: 0
span
    color: #01C38E
* 
  box-sizing: border-box

input[type=text]
  width: 100%
  padding: 12px 20px
  margin: 8px 0
  display: inline-block
  border: 1px solid #1b8b57
  border-radius: 10px
  background-color: #061c2e9d
  -webkit-backdrop-filter: blur(10px)
  backdrop-filter: blur(10px)
  box-sizing: border-box
  color: #fff

input[type=submit] 
  width: 100%
  background-color: #01C38E
  color: white
  padding: 10px 20px
  border: none
  border-radius: 10px
  font-size: 16px
  cursor: pointer
  min-height: 40px
  box-shadow: 0px 0px 20px 0px #00000077

input[type=submit]:hover 
  background-color: #01C38E