.container
    position: relative
    color: white
    width: 100%
    height: fit-content
    overflow: unset
    
    .navbar
        top: 0
        pointer-events: none
        height: 60px
        width: 100%
        display: flex
        padding: 1rem
        justify-content: space-between
        align-items: center
        position: fixed
        z-index: 10
        transition: all 0.3s ease-in-out
        &.blur
            background: #06304470
            -webkit-backdrop-filter: blur(10px)
            backdrop-filter: blur(10px)
            height: 100px
        .imageContainer
            position: relative
        .logo
            width: 10rem
            height: 2rem
            position: relative
            @media(max-width: 600px)
                display: none

            img
                object-fit: contain
                
        .mobilelogo
            width: 2rem
            height: 2rem
            position: relative
            display: none
            @media(max-width: 600px)
                display: block

            img
                object-fit: contain

        .disclaimer
            width: 500px
            background-color: rgb(37 80 75 / 0.63)
            display: none
            padding: 0.3rem 1rem
            border-radius: 10rem
            @media (min-width: 1024px)
                display: block
            &:hover
                animation-play-state: paused
            div
                display: flex
                overflow: hidden
                white-space: nowrap
                p
                    display: inline-block
                    font-size: 0.6rem
                    color: #01C38E
                    margin: 0
                    padding-right: 1rem
                    animation: marquee 15s linear infinite

            @keyframes marquee
                0%
                    transform: translateX(0%)
                100%
                    transform: translateX(-100%)

        .navbarItems
            width: 10rem
            display: flex
            justify-content: flex-end
            align-items: center
            gap: 1rem
            @media(max-width: 600px)
                width: 2rem

        div
            pointer-events: auto
    .content
        position: relative
        min-height: calc(100vh - 100px)
        width: 100%
        display: flex
        flex-flow: column
        @media (min-width: 600px)
            min-height: calc( 100vh - 200px )
    .footer
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 1rem
        background: #018cc300
        -webkit-backdrop-filter: blur(10px)
        backdrop-filter: blur(10px)
        padding: 2rem 0
        overflow: hidden

        .copyright
            font-size: 0.8rem
            color: #FFF
            text-align: center
            
        .imageContainer
            width: 100%
            display: flex
            flex-direction: column
            align-items: center

            .logo
                width: 10rem
                height: 2rem
                position: relative
                img
                    object-fit: contain


.mobileOnly
    display: none
    @media (max-width: 600px)
        display: block
.desktopOnly
    display: none
    @media (min-width: 600px)
        display: block
.button
    background: transparent
    padding: .6rem 1.5rem
    border-radius: 12px
    font-weight: 400
    overflow: hidden
    color: #01C38E
    cursor: pointer
    font-size: 0.6rem
    font-weight: 600
    transition: all 0.3s ease-in-out
    text-align: center
    border: 1px solid #01C38E
    &:hover
        background: #018cc388
        color: #fff

    @media (min-width: 450px)
        font-size: 1rem

.langList
    ul
        margin: 0
        padding: 0
        list-style-type: none   
        li
            margin-left: 0
            padding: 0
            a
                padding: 1rem 2rem
                border-radius: 0.5rem
                overflow: hidden
                display: flex
                align-items: center
                gap: 1rem
                .flagContainer
                    position: relative
                    >svg
                        height: 20px
                &:hover, &.active, &:focus
                    color: currentColor
                    background: #018cc388
                    cursor: pointer